extend ../admin_layout

block content

  if is_user
    a.btn(href="/users/new").btn-primary.pull-right 新建
  
  table.table.table-striped.table-bordered
    thead
      tr
        th Id
        th Email
        th Money
        th Gold
        th Food
        th Created/Updated
        th Ops
  
    tbody
    each user in users
      tr
        td= user.id
        td= user.email
        td= user.gold
        td= user.money
        td= user.food
        td
          #{relativeDate(user.created_at)}/#{relativeDate(user.updated_at)}
        td
          if is_user
            a(href="/characters/new?user_id=#{user.id}").btn edit
          if is_admin
            form(method='POST', action='/users/' + user.id).form-append
              input(type='hidden', name='_method', value='delete')
              button(type='submit').btn remove

    
